<h1 class="cover-heading">Downloads</h1>
<p class="lead">Coming soon</p>

<h1 class="cover-heading">Source Code</h1>
<p class="lead"><a href="https://github.com/cheniel/sportstat-android">Android</a></p>
<p class="lead"><a href="https://github.com/cheniel/sportstat-pebble">Pebble</a></p>
<p class="lead"><a href="https://github.com/cheniel/sportstat-rails">Website</a></p>
