<h1 class="cover-heading">Releases (including demos)</h1>
<p class="lead">
  <a href="https://github.com/cheniel/sportstat-android/releases">Android</a> |
  <a href="https://github.com/cheniel/sportstat-pebble/releases">Pebble</a> |
  <a href="https://github.com/cheniel/sportstat-rails/releases">Cloud</a>
</p>

<h1 class="cover-heading">Source Code (Github)</h1>
<p class="lead">
    <a href="https://github.com/cheniel/sportstat-android">Android</a> |
    <a href="https://github.com/cheniel/sportstat-pebble">Pebble</a> |
    <a href="https://github.com/cheniel/sportstat-rails">Cloud</a>
</p>