<h1 class="cover-heading">Releases (including demos)</h1>
<p class="lead"><a href="https://github.com/cheniel/sportstat-android/releases">Github Releases</a>

<h1 class="cover-heading">Source Code (Github)</h1>
<p class="lead"><a href="https://github.com/cheniel/sportstat-android">Android</a></p>
<p class="lead"><a href="https://github.com/cheniel/sportstat-pebble">Pebble</a></p>
<p class="lead"><a href="https://github.com/cheniel/sportstat-rails">Website</a></p>
