<h1 class="cover-heading">Quantify your game.</h1>
<p class="lead">SportStat is an app for Android smartphones which gives ESPN-level statistics for the common man. It also optionally connects to the Pebble Smartwatch.</p>

<p class="lead">
  <a href="/about" class="btn btn-lg btn-default">More info</a>
</p>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById("home-tab").className = "active";
  });
</script>