<img src="/android.png" width="150px">
<h1 class="cover-heading">Quantify your game.</h1>
<p class="lead">SportStat is an app for Android smartphones which gives ESPN-level basketball statistics for the amateur player.</p>
<p class="lead">It optionally connects to the Pebble Smartwatch, providing a combination of manual and automatically collected data.</p>

<p class="lead">
  <a href="/code" class="btn btn-lg btn-default">Check it out</a>
</p>
