<!DOCTYPE html>
<html>
<head>
  <title>SportStat - Quantify your game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SportStat</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li id="home-tab"><a href="/">Home</a></li>
              <li id="about-tab"><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">

        <%= yield %>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by <a href="http://danieljchen.com/">Daniel Chen</a>, <a href="https://github.com/daveharmon">Dave Harmon</a>, <a href="">Mazen Ammar</a> and <a href="">John Rigby</a> for <a href="http://www.cs.dartmouth.edu/~campbell/cs65/cs65.html">CS65: Smartphone Programming at Dartmouth College.</a></p>
          <iframe id="github-star" src="http://ghbtns.com/github-btn.html?user=cheniel&repo=sportstat-rails&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
<script src="assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
